:javascript
  $(function() {
    $('ul.menu li a[href="#{thk_path}"]').parent().addClass('active');
    $('ul.page-menu li a[href="'+document.location.pathname+'"]').parent().addClass('active');
  });
.content.columns.clear
  .main.page
    %h1 КОМАНДА
    %ul.page-menu
      %li
        %a{:href => thk_path} СОСТАВ ТХК
      %li
        %a{:href => mhk_path} СОСТАВ МХК ТВЕРИЧИ
      %li
        %a{:href => "/history/"} ИСТОРИЯ
      %li
        %a{:href => "/partners/"} ПАРТНЕРЫ
      %li
        %a{:href => "/contacts/"} КОНТАКТЫ
    %ul.page-submenu
      - if @people.forwards.count > 0
        %li
          %a{:href => "#forwards"} нападающие
      - if @people.defenders.count > 0
        %li
          %a{:href => "#defenders"} защитники
      - if @people.goalkeepers.count > 0
        %li
          %a{:href => "#goalkeepers"} вратари
      - if @people.coaches.count > 0
        %li
          %a{:href => "#coaches"} тренеры
      - if @people.direction.count > 0
        %li
          %a{:href => "#direction"} руководство
    - if @people.forwards.count > 0
      .block#forwards
        %h2.block-header
          %span НАПАДАЮЩИЕ
        - if not @team.people_statistic.empty?
          = @team.people_statistic.html_safe
        %ul.person-list
          = render :partial => 'person', :collection => @people.forwards, :locals => {:player => true}
    - if @people.defenders.count > 0
      .block#defenders
        %h2.block-header
          %span Защитики
        %ul.person-list
          = render :partial => 'person', :collection => @people.defenders, :locals => {:player => true}
    - if @people.goalkeepers.count > 0
      .block#goalkeepers
        %h2.block-header
          %span Вратари
        %ul.person-list
          = render :partial => 'person', :collection => @people.goalkeepers, :locals => {:player => true}
    - if @people.coaches.count > 0
      .block#coaches
        %h2.block-header
          %span Тренеры
        %ul.person-list
          = render :partial => 'person', :collection => @people.coaches, :locals => {:player => false}
    - if @people.direction.count > 0
      .block#direction
        %h2.block-header
          %span Руководство
        %ul.person-list
          = render :partial => 'person', :collection => @people.direction, :locals => {:player => false}
  = render "right_column"