%tr{:class => (game.win? ? 'results-win' : (game.loss? ? 'results-loss' : 'results-draw'))}
  %td
    .date
      %span.date-day= l game.date, :format => "%d"
      %span= l game.date, :format => "%b / %a"
      %span= l game.date, :format => "%H:%M"
  %td
    .score
      - if game.finished?
        %span.digit= game.score_host
        %span.score-delim :
        %span.digit= game.score_guest
        %span.score-how= game.finished_text_short
      - else
        %span Не завершилась
  %td.teams
    = "#{game.team} : #{game.rival}"
  %td{:align => "center"}
    = game.home ? "дома" : "на<br/>выезде".html_safe