= content_for(:title) do
  Матчи: ТХК - #{@championship.name}

:javascript
  $(function() {
    $('ul.menu li a[href$="#{championships_path}"]').parent().addClass('active');
  });
.content.columns.clear
  .main.page
    %h1 Матчи
    %ul.page-menu
      - @championships.each do |championship|
        %li{:class => (championship.id == @championship.id ? 'active' : '')}
          = link_to championship.name, championship
      - if @archive
        %li{:class => (@championship.archive ? 'active' : '')}
          = link_to 'Архив', championships_archive_path
    .tabs
      - if @championship.games.future.count > 0 and @championship.games.past.count > 0
        %p.page-submenu.tabs-switcher
          %span.tabs-switcher-item.active прошедшие игры
          %span.tabs-switcher-item будущие игры
      .block
        - if @championship.archive
          %h1=@championship.name
        - if not @championship.statistic.empty?
          = @championship.statistic.html_safe
        .results.tabs-container
          %dl.results-legend
            %dt.results-win
            %dd Победа
            %dt.results-loss
            %dd Проигрыш
          - if @championship.games.future.count > 0
            .tabs-tab
              %table.results-table.results-table-prev
                = render :partial => 'game', :collection => @championship.games.future.reorder('date ASC')
          - if @championship.games.past.count > 0
            .tabs-tab
              %table.results-table
                = render :partial => 'game', :collection => @championship.games.past.reorder('date ASC')
          :javascript
            $('.tabs-tab:first').addClass('active');
  = render "right_column"
-#
        .filter
          %a{:href => "#"} ЯНВ - ФЕВ
          %a{:href => "#"} МАР - АПР
          %a{:href => "#"} МАЙ - ИЮН
          %a{:href => "#"} ИЮЛ - АВГ
          %a{:href => "#"} СЕН - ОКТ
          %a.active{:href => "#"} НОЯ - ДЕК