= content_for(:title) do
  ТХК - #{@title ? @title : "Публикации"}

:javascript
  $(function() {
    $('ul.menu li a[href$="#{articles_path}"]').parent().addClass('active');
    $('ul.page-menu li a[href="'+document.location.pathname+'"]').parent().addClass('active');
  });
.content.columns.clear
  .main.page
    %h1 Публикации
    = render "top_menu"
    .articles
      .block
        %ul.article-list.clear
          = render :partial => 'article', :collection => @articles
  = render "right_column"