= content_for(:title) do
  ТХК - #{@title ? @title : "Публикации"}

:javascript
  $(function() {
    $('ul.menu li a[href$="#{articles_path}"]').parent().addClass('active');
    $('ul.page-menu li a[href="'+document.location.pathname+'"]').parent().addClass('active');
    // manage_visible_articles(30);
    var block = new ArticlesBlock($('.articles'), {filter: #{@context.to_json}});
  });

- if @type.try(:slug) == 'rk'
  - get_chunk('rk_content') do |content|
    .rk_content
      .rk_logo= image_tag('rk-logo.png')
      = content
      .rk_block 
        .time 6 февраля в 15:00 (предварительно)
        .info
          %span.team Сборная правительства тверской области
          %span.score
            %span.digit 3          
            %span.score-delim :
            %span.digit 4
          %span.team Сборная высшей хоккейной лиги 
        .text
          Товарищеский матч, вход свободный, стадион "Химик"
      .rk_block 
        .time 6 февраля в 15:00 (предварительно)
        .info
          %span.team Сборная правительства тверской области
          %span.score.versus VS
          %span.team Сборная высшей хоккейной лиги 
        .text
          Товарищеский матч, вход свободный, стадион "Химик"    

.content.columns.clear

  .main.page
    %h1 Публикации
    = render "top_menu"
    .articles
      .block
        %ul.article-list.clear
          -#= render :partial => 'article', :collection => @articles
  = render "right_column"