= content_for(:title) do
  ТХК - #{@title ? @title : "Публикации"}

:javascript
  $(function() {
    $('ul.menu li a[href$="#{articles_path}"]').parent().addClass('active');
    $('ul.page-menu li a[href="'+document.location.pathname+'"]').parent().addClass('active');
    // manage_visible_articles(30);
    var block = new ArticlesBlock($('.articles'), {filter: #{@context.to_json}});
  });

- if @type.try(:slug) == 'rk'
  - get_chunk('rk_content') do |content|
    .rk_content
      .rk_logo= image_tag('rk-logo.png')
      = content

.content.columns.clear

  .main.page{id: "articles_#{@type.try(:slug)}"}
    .articles_top
      %h1 Публикации
      = render "top_menu"
    .articles
      .block
        %ul.article-list.clear
          -#= render :partial => 'article', :collection => @articles
  = render "right_column"