:javascript
  $(function() {
    $('ul.menu li a[href$="#{articles_path}"]').parent().addClass('active');

    var gallery = '';
    $('var').parent().each(function(i, image_container) {
      gallery += sprintf('<li class="slider-item"><img src="%s" alt="" /><div class="article-slider-desc">%s</div></li>',
        $('img', image_container).attr('src'),
        $('img', image_container).attr('alt'));
    });

    gallery = sprintf('<div class="article-slider"><div class="slider"><div class="slider-box"><ul class="slider-list">%s</ul><div class="slider-nav"> \
      <b class="slider-nav-prev">«</b> \
      <span class="slider-nav-num">1</span>/<span class="slider-nav-of"></span> \
      <b class="slider-nav-next">»</b> \
      </div></div></div></div>', gallery);

    $('var:first').parent().before(gallery);
    $('var').parent().remove();
    $('.slider-item:first').addClass('current');
    $('.slider-list').css({height: undefined});
    init_sliders();
  });
.content.columns.clear
  .main.page
    %h1 Публикации
    = render "top_menu"
    .article
      .article-date
        = l @article.published_at, :format => "%Y"
        .digit= l @article.published_at, :format => "%d"
        = l @article.published_at, :format => "%b / %a"
      %h2= @article.title
      .article-lead
        %p= @article.subtitle.html_safe
      .article-by
        = @article.authors.html_safe
      = @article.content.html_safe
    - if @articles.count > 0
      .article-related
        %h2 Свежие публикации
        %ul.article-list.clear
          = render :partial => 'article', :collection => @articles
    .article-comments.tabs
      %h2
        КОММЕНТАРИИ
        %span.tabs-switcher
          %span.tabs-switcher-item.active Вконтакте
          /
          %span.tabs-switcher-item Facebook
      .tabs-container
        .tabs-tab.active
          %img{:src => "/images/data/c_vk.png", :alt => ""}
        .tabs-tab
          фб
  = render "right_column"


-#
      .article-social
        %img{:src => "/images/data/social.png", :alt => ""}