= content_for(:title) do
  ТХК - #{@article.title}

:javascript
  VK.init({apiId: 3560256, onlyWidgets: true});

  $(function() {
    $('ul.menu li a[href$="#{articles_path}"]').parent().addClass('active');
    $('ul.page-menu li a[href$="#{@article.type.slug}"]').parent().addClass('active');

    var gallery = '';
    $('p.gallery').each(function(i, image_container) {
      gallery += sprintf('<li class="slider-item"> \
          <div class="slider-item-image"> \
            <img src="%s" alt="" height="393" /> \
          </div> \
          <div class="article-slider-desc">%s</div> \
        </li>',
        $('img', image_container).attr('src'),
        $('img', image_container).attr('alt'));
    });

    gallery = sprintf('<div class="article-slider"><div class="slider"><div class="slider-box"><ul class="slider-list">%s</ul><div class="slider-nav"> \
      <b class="slider-nav-prev">«</b> \
      <span class="slider-nav-num">1</span>/<span class="slider-nav-of"></span> \
      <b class="slider-nav-next">»</b> \
      </div></div></div></div>', gallery);

    $('p.gallery:first').before(gallery);
    $('p.gallery').remove();
    $('.slider-item:first').addClass('current');
    $('.slider-list').css({height: undefined});
    init_sliders();
  });
.content.columns.clear
  .main.page
    %h1 Публикации
    = render "top_menu"
    .article
      .article-date
        = l @article.published_at, :format => "%Y"
        .digit= l @article.published_at, :format => "%d"
        = l @article.published_at, :format => "%b / %a"
      %h2.article-main-title= @article.title
      .article-lead
        %p= @article.subtitle.html_safe
      .article-by
        = @article.authors.html_safe
      .article-social
        .fb-like{'data-send' => "false", 'data-layout' => "button_count", 'data-width' => "150", 'data-show-faces' => "false"}
        #vk_like
        :javascript
          VK.Widgets.Like("vk_like", {type: "button", height: 20});
      .b-sub-article
        = @article.content.html_safe
    - if @articles.count > 0
      .article-related
        %h2 Свежие публикации
        %ul.article-list.clear.article-new
          = render :partial => 'article', :collection => @articles
    .b-comments-social
      %h2 КОММЕНТАРИИ
      .item.item-vk
        %h3.title Вконтакте
        #vk_comments
        :javascript
          VK.Widgets.Comments("vk_comments", {limit: 10, width: "367", attach: "photo,video,link"});
      .item.item-fb
        %h3.title Facebook
        .fb-comments{'data-width' => "367", 'data-num-posts' => "10"}
  = render "right_column"

-#
      .article-social
        %img{:src => "/images/data/social.png", :alt => ""}