:javascript
  $(function() {
    $('ul.menu li a[href$="#{articles_path}"]').parent().addClass('active');
  });
.content.columns.clear
  .main.page
    %h1 Публикации
    = render "top_menu"
    .article
      .article-date
        = l @article.published_at, :format => "%Y"
        .digit= l @article.published_at, :format => "%d"
        = l @article.published_at, :format => "%b / %a"
      %h2= @article.title
      .article-lead
        %p= @article.subtitle.html_safe
      .article-by
        = @article.authors.html_safe
      = @article.content.html_safe
    - if @articles.count > 0
      .article-related
        %h2 Свежие публикации
        %ul.article-list.clear
          = render :partial => 'article', :collection => @articles
    .article-comments.tabs
      %h2
        КОММЕНТАРИИ
        %span.tabs-switcher
          %span.tabs-switcher-item.active Вконтакте
          /
          %span.tabs-switcher-item Facebook
      .tabs-container
        .tabs-tab.active
          %img{:src => "/images/data/c_vk.png", :alt => ""}
        .tabs-tab
          фб
  = render "right_column"


-#
      .article-social
        %img{:src => "/images/data/social.png", :alt => ""}
      .article-slider
        .slider
          .slider-box
            .slider-list
              %li.slider-item.current
                %img{:src => "/images/data/art1.jpg", :alt => ""}
                .article-slider-desc Вечеслав Семенов, нападающий ТХК
              %li.slider-item
                %img{:src => "/images/data/art1.jpg", :alt => ""}
                .article-slider-desc Вечеслав Семенов, ТХК
              %li.slider-item
                %img{:src => "/images/data/art1.jpg", :alt => ""}
                .article-slider-desc Вечеслав Семенов, нападающий ТХК
              %li.slider-item
                %img{:src => "/images/data/art1.jpg", :alt => ""}
                .article-slider-desc Вечеслав Семенов, нападающий ТХК
          .slider-nav
            %b.slider-nav-prev «
            <span class="slider-nav-num">1</span>/<span class="slider-nav-of"></span>
            %b.slider-nav-next »