:javascript
  $(function() {
    $('ul.menu li a[href$="#{games_path}"]').parent().addClass('active');
  });
.content.columns.clear
  .main.page
    %h1 Матчи
    %ul.page-menu
      %li
        %a{:href => "#"} ВХЛ 2012-13
      %li
        %a{:href => "#"} МХЛ 2012-13
      %li
        %a{:href => "#"} ПЛЕЙОФ
      %li
        %a{:href => "#"} МЕЖСЕЗОНЬЕ
      %li
        %a{:href => "#"} КОНТАКТЫ
    %ul.page-submenu
      %li
        %a{:href => "#"} будущие игры
      %li
        %a{:href => "#"} прошедшие игры
    .block
      %h3.block-subheader
        ТАБЛИЦА ЧЕМПИОНАТА НА САЙТЕ ВХЛ
      .results
        %dl.results-legend
          %dt.results-win
          %dd Победа
          %dt.results-loss
          %dd Проигрыш
          %dt.results-draw
          %dd Ничья
        .filter
          %a{:href => "#"} ЯНВ - ФЕВ
          %a{:href => "#"} МАР - АПР
          %a{:href => "#"} МАЙ - ИЮН
          %a{:href => "#"} ИЮЛ - АВГ
          %a{:href => "#"} СЕН - ОКТ
          %a.active{:href => "#"} НОЯ - ДЕК
        %table.results-table
          - @games.each do |game|
            %tr{:class => (game.result == 1 ? 'results-win' : (game.result == 2 ? 'results-loss' : 'results-draw'))}
              %td
                .date
                  %span.date-day= l game.date, :format => "%d"
                  %span= l game.date, :format => "%b / %a"
                  %span= l game.date, :format => "%H:%M"
              %td
                .score
                  %span.digit= game.score.split(':')[0]
                  %span.score-delim :
                  %span.digit= game.score.split(':')[1]
                  %span.score-how OT
              %td.teams
                = game.name
  = render "right_column"