= content_for(:title) do
  Тверской Хоккейный Клуб

:javascript
  $(function() {
    // no future games
    if($('.tabs-container ul:first li').length == 0) {
      $('.tabs-switcher-item:last').click();
      $('.tabs-container ul:first').replaceWith('<p>Информации о предстоящих матчах на данный момент нет</p>');
    }
    // manage_visible_articles(14);
    ArticlesBlock($('.main.page'), {per_page: 14, filter: {on_index: true}});
  });
.splash
  .slider
    .slider-box
      %ul.slider-list
        - @slides.each_with_index do |slide, i|
          - classes = [i == 0 ? 'current' : '', slide.inverted ? 'inverted': '']
          %li.slider-item.slider-item_result{:class => classes.join(' ')}
            - if slide.image.exists?
              %a{:href => slide.link}
                %img.slider-image{:src => slide.image(:long_slide), :alt => ""}/
            .slider-overlay
              %a.slider-title{:href => slide.link}
                = slide.content.html_safe
      .slider-nav
        %b.slider-nav-prev «
        <span class="slider-nav-num">1</span>/<span class="slider-nav-of"></span>
        %b.slider-nav-next »
.content.index.clear
  .sidebar.sidebar-left
    %ul.sidelist
      = render "sidebar"
  .main.page
    .block
      %ul.article-list.clear
        -#= render :partial => 'article', :collection => @articles
  .sidebar
    .sideblock.tabs
      %h3.sideblock-header МАТЧИ
      %p.tabs-switcher
        %span.tabs-switcher-item.active ближайшие
        %span.tabs-switcher-item прошедшие
      .tabs-container
        .tabs-tab.active
          %ul.list
            - Game.future.reorder('date ASC').slice(0,3).each do |game|
              %li
                .article-date
                  .digit= l game.date, :format => "%d"
                  %br
                  = l game.date, :format => "%b / %a / %H:%M"
                %p= game.home ? "#{game.team} : #{game.rival}" : "#{game.rival}: #{game.team}"
        .tabs-tab
          %ul.list
            - Game.past.reorder('date DESC').slice(0,3).each do |game|
              %li
                .score
                  %span.digit= game.score_host
                  %span.score-delim :
                  %span.digit= game.score_guest
                  %br
                  = l game.date, :format => "%d %b / %a"
                %p= game.home ? "#{game.team} : #{game.rival}" : "#{game.rival}: #{game.team}"
    .sideblock.info
      = get_chunk 'info_vhl'
    .sideblock
      %h3.sideblock-header Мы в соцсетях
      = get_chunk 'social_links'