.splash
  .slider
    .slider-box
      %ul.slider-list
        - @slides.each_with_index do |slide, i|
          %li.slider-item.slider-item_result.inverted{:class => (i == 0 ? 'current' : '')}
            %img.slider-image{:src => "/images/data/s1.jpg", :alt => ""}/
            .slider-overlay
              %a.slider-title{:href => slide.link}
                = slide.content.html_safe
      .slider-nav
        %b.slider-nav-prev «
        <span class="slider-nav-num">1</span>/<span class="slider-nav-of"></span>
        %b.slider-nav-next »
.content.index.clear
  .sidebar.sidebar-left
    %ul.sidelist
      = render "sidebar"
  .main.page
    .block
      %ul.article-list.clear
        = render :partial => 'article', :collection => @articles
  .sidebar
    .sideblock.tabs
      %h3.sideblock-header МАТЧИ
      %p.tabs-switcher
        %span.tabs-switcher-item.active ближайшие
        %span.tabs-switcher-item прошедшие
      .tabs-container
        .tabs-tab.active
          %ul.list
            - @games.future.slice(0,3).each do |game|
              %li
                .article-date
                  .digit= l game.date, :format => "%d"
                  %br
                  = l game.date, :format => "%b / %a / %H:%M"
                %p= "#{game.team} : #{game.rival}"
        .tabs-tab
          %ul.list
            - @games.past.slice(0,3).each do |game|
              %li
                .score
                  %span.digit= game.score_host
                  %span.score-delim :
                  %span.digit= game.score_guest
                  %br
                  = l game.date, :format => "%d %b / %a"
                %p= "#{game.team} : #{game.rival}"
    .sideblock.info
      = @info_vhl
    .sideblock
      %h3.sideblock-header Мы в соцсетях
      = @social_links

-#
    .loadmore
      Загрузить еще материалов ...